# Private key of the account that will be used to deploy the contracts and run the scripts
# on the Polkadot Asset Hub Testnet
PRIVATE_KEY="your-private-key"

# Address of the Schema Registry contract on the Polkadot Asset Hub Testnet
SCHEMA_REGISTRY_ADDRESS=

# Address of the EAS contract on the Polkadot Asset Hub Testnet
EAS_ADDRESS=

# UID of the schema that will be used to create the attestation
SCHEMA_UID=

# UID of the attestation that will be used to verify the attestation
ATTESTATION_UID=